$colors: (red: #ff3030,
orange: #e94103,
yellow: #f0b820,
lamon: #bfec52,
green: #49df44,
green_light: #73ff00,
purple: #8E2DE2,
navy: #4A00E0,
blue: #007bff,
brown: #682b08,
white: #fff,
black:#000,
light: #e8e7e7,
dark: #36425a,
pink: #ff2692,
indigo: #4c00ff);

$color_light: (red: #ff303080,
orange: #e9410380,
yellow: #f0b82080,
lamon: #bfec5280,
green: #49df4480,
green_light: #73ff0080,
purple: #8E2DE280,
navy: #4A00E080,
blue: #007bff80,
brown: #682b0880,
white: #ffffff80,
black: #00000080,
light: #e8e7e780,
dark: #36425a80,
pink: #ff269280,
indigo: #4c00ff80);

$color_dark: (red: #ff3030dd,
orange: #e94103dd,
yellow: #f0b820dd,
lamon: #bfec52dd,
green: #49df44dd,
green_light: #73ff00dd,
purple: #8E2DE2dd,
navy: #4A00E0dd,
blue: #007bffdd,
brown: #682b08dd,
white: #fffdd,
light: #e8e7e7dd,
dark: #36425add,
pink: #ff2692dd,
indigo: #4c00ffdd);