doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //Title & Favicons
        title Backgrounds & Hero Images
        link(rel="shortcut icon", href="assets/img/icon.png", type="image/png")

        link(rel="stylesheet", href="assets/style/main.css")
    body
        section.bg_hero
            .ctn
                .ctn_text
                    h1.ctn_text_head hero section !
        section.bg_hero_img
            .ctn
                .ctn_text
                    h1.ctn_text_head hero section with image !
        section.bg_wide
            .ctn
                .ctn_text
                    h1.ctn_text_head wide section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_wide_img
            .ctn
                .ctn_text
                    h1.ctn_text_head wide section with image !
        
        section.bg_wide_rvrs
            .ctn
                .ctn_text
                    h1.ctn_text_head reverse wide section !
                    p.ctn_text_para Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis perspiciatis recusandae officia debitis quas quod placeat corrupti soluta quia, sequi, non quidem doloremque laborum. Vitae, harum, iste rerum minus perspiciatis facilis cum inventore laboriosam perferendis dignissimos dolore quos delectus voluptatem alias optio sint unde quaerat adipisci pariatur. Ratione sed esse, sint sunt, architecto aperiam commodi, enim asperiores reiciendis iure quaerat eos facilis labore perspiciatis rerum mollitia quia! Aperiam, molestiae perspiciatis nisi earum reprehenderit nostrum architecto doloribus laborum qui numquam, beatae repellat minus officia voluptas nihil accusantium. Dicta, omnis quos mollitia repellendus ea recusandae ipsum molestiae ab quidem iste id dolorum.
        section.bg_wide_img_rvrs
            .ctn
                .ctn_text
                    h1.ctn_text_head reverse wide with image !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_double
            .ctn
                .ctn_text.left
                    h1.ctn_text_head double partation section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_double_rvrs
            .ctn
                .ctn_text.right
                    h1.ctn_text_head reverse double partation section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_double_img
            .ctn
                .ctn_text.left
                    h1.ctn_text_head double partation with image !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        
        section.bg_double_img_rvrs
            .ctn
                .ctn_text.right
                    h1.ctn_text_head reverse double partation with image !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_tril
            .ctn
                .ctn_text
                    h1.ctn_text_head tril section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_12
            .ctn
                .ctn_text
                    h1.ctn_text_head wide section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_footer
            .ctn
                .ctn_text
                    h1.ctn_text_head footer section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_footer_img
            .ctn
                .ctn_text
                    h1.ctn_text_head footer with Image !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_footer_rvrs
            .ctn
                .ctn_text
                    h1.ctn_text_head reverse footer section !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!
        section.bg_footer_img_rvrs
            .ctn
                .ctn_text
                    h1.ctn_text_head reverse footer with Image !
                    p.ctn_text_para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corporis vel perspiciatis incidunt voluptatum? Sapiente, atque libero! Ex atque excepturi necessitatibus aperiam, facere sed corporis explicabo unde architecto suscipit provident, beatae commodi ipsa. Nulla, iste beatae! Cumque, temporibus repellendus! Non corporis aut, maiores ducimus voluptatem mollitia expedita temporibus culpa illum!